<!DOCTYPE html>
html(lang="en")
head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Document
    link(href="//cdn.bootcss.com/semantic-ui/2.1.8/semantic.min.css", rel="stylesheet")
    link(href="/css/style.css", rel="stylesheet")
    script(src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js")
    script(src="//cdn.bootcss.com/semantic-ui/2.1.8/semantic.min.js")
    
body
    include ./components/nav.pug
    include ./components/nav-setting.pug
    include ./components/notification.pug
    
    