include ./header.pug

.ui.grid

.four.wide.column
    .eight.wide.column
        form(method="post").ui.form.segment
            .field.required
            label 用戶名
            input(type="text" placeholder="用戶名" name="name")
            .field.required
                label 密碼
                input(placeholder="密碼" type="password" name="password")
            input(type="submit" value="登錄").ui.button.fluid
include ./footer.pug
