include ./header.pug

.ui.grid
    .four.wide.column
    .eight.wide.column
        form.ui.form.segment(method='POST',enctype='multipart/form-data')
            .field.required
                label  用戶名
                input(type="text" placeholder="用戶名" name="name")
            .field.required
                label 密碼
                input(type="text" placeholder="密碼" name="password")
            div.field.required
                lable 重复密码
                input(placeholder='重复密码',type='password',name='repassword')    
            .field.required
                label 性別
                select(name="gender").ui.compact.selection.dropdown
                    option(value="m") 男
                    option(value="f") 女
                    option(value="x") 保密
            //- .field.required
            //-     label 頭像
            //-         input(type="file" name = "avatar")
            .field.required
                label 個人簡介
                textarea(name="bio", rows="5" ,v-model="user.bio")
            input(type="submit" value="註冊").ui.button.fluid
include ./footer.pug
